{
	FILEHEADER = "\n//  Copyright RevenueCat Inc. All Rights Reserved.\n//\n//  Licensed under the MIT License (the \"License\");\n//  you may not use this file except in compliance with the License.\n//  You may obtain a copy of the License at\n//\n//      https://opensource.org/licenses/MIT\n//\n//  ___FILENAME___\n//\n//  Created by ___FULLUSERNAME___ on ___DATE___.";
}