# CODEOWNERS for purchases-ios

# Default owners
* @RevenueCat/sdk

# Customer Center code and related UI tests
/RevenueCatUI/CustomerCenter/ @RevenueCat/customer-center
/Tests/RevenueCatUITests/ @RevenueCat/customer-center

# Paywalls
/RevenueCatUI/Templates/ @RevenueCat/paywalls
/RevenueCatUI/Views/ @RevenueCat/paywalls
/RevenueCatUI/PaywallView.swift @RevenueCat/paywalls
/RevenueCatUI/View+PresentPaywall* @RevenueCat/paywalls