# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
**/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
.idea/
Carthage
.DS_Store
.ruby-version
.bundle/
.build/
vendor/
CarthageUploads
*.bck
**/fastlane/report.xml
**/fastlane/test_output/
builds/
Pods/
IntegrationTests/CarthageInstallation/Cartfile.resolved
scan_derived_data/
generated_docs/

# Local clone of `purchases-ios-snapshots` repo to be available for tests.
Tests/purchases-ios-snapshots

# SPM

# This is the "SPM" scheme, which is duplicated with the scheme in the project
# and that breaks Carthage because it appears twice in `xcodebuild -list`
.swiftpm/xcode/xcshareddata/xcschemes/RevenueCat.xcscheme

Examples/**/Package.resolved

Tests/APITesters/RevenueCatUIAPITester/RevenueCatUISwiftAPITester.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Tests/APITesters/CustomEntitlementComputationSwiftAPITester/CustomEntitlementComputationSwiftAPITester.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Tests/InstallationTests/SPMInstallation/SPMInstallation.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Tests/InstallationTests/ReceiptParserInstallation/ReceiptParserInstallation.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Tests/InstallationTests/XcodeDirectInstallation/XcodeDirectInstallation.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# fastlane
fastlane/.env
